<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CodePassion_BL2</display-name>
  <welcome-file-list>
    <welcome-file>1(home2).jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpAssessment</display-name>
    <servlet-name>EmpAssessment</servlet-name>
    <servlet-class>EmpAssessment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpAssessment</servlet-name>
    <url-pattern>/EmpAssessment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Rm</display-name>
    <servlet-name>Rm</servlet-name>
    <servlet-class>Rm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Rm</servlet-name>
    <url-pattern>/Rm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>check</display-name>
    <servlet-name>check</servlet-name>
    <servlet-class>check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Verify</display-name>
    <servlet-name>Verify</servlet-name>
    <servlet-class>Verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavedAssessment</display-name>
    <servlet-name>SavedAssessment</servlet-name>
    <servlet-class>SavedAssessment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavedAssessment</servlet-name>
    <url-pattern>/SavedAssessment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assessment_Status</display-name>
    <servlet-name>Assessment_Status</servlet-name>
    <servlet-class>Assessment_Status</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assessment_Status</servlet-name>
    <url-pattern>/Assessment_Status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Qual</display-name>
    <servlet-name>Qual</servlet-name>
    <servlet-class>Qual</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Qual</servlet-name>
    <url-pattern>/Qual</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Competency</display-name>
    <servlet-name>Competency</servlet-name>
    <servlet-class>Competency</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Competency</servlet-name>
    <url-pattern>/Competency</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>MyListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Report_Gen_Pos</display-name>
    <servlet-name>Report_Gen_Pos</servlet-name>
    <servlet-class>Report_Gen_Pos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report_Gen_Pos</servlet-name>
    <url-pattern>/Report_Gen_Pos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report_Gen_Dept</display-name>
    <servlet-name>Report_Gen_Dept</servlet-name>
    <servlet-class>Report_Gen_Dept</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report_Gen_Dept</servlet-name>
    <url-pattern>/Report_Gen_Dept</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comp_Rpt</display-name>
    <servlet-name>Comp_Rpt</servlet-name>
    <servlet-class>Comp_Rpt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comp_Rpt</servlet-name>
    <url-pattern>/Comp_Rpt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Password</display-name>
    <servlet-name>Password</servlet-name>
    <servlet-class>Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Password</servlet-name>
    <url-pattern>/Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
 </web-app>