/* ----------------------------------------------------------- */
/*                WISEGUYS STYLE SWITCHER                      */
/* ----------------------------------------------------------- */

.styleSwitcherWrapper{
 position: fixed;
 top: 100px;
 left: -191px;
 width: 191px;
height: 332px;
 background: url('images/bg.png') no-repeat 0px top;
  z-index: 9999;

}

.styleSwitcherPanel h4{
  line-height: 29px;
  margin-top: 15px;
  margin-left: 8px;
  color: #777;
}

.styleSwitcherPanel p{
  font-size: 11px;
  color: #999;
  margin-bottom: 5px;
   margin-left: 8px;
}

.styleSwitcherPanel ul{
   margin-bottom: 10px;
   margin-left: 8px;
}

.styleSwitcherPanel li{
 display: inline;
  margin: 0 0px 5px 0;
}

.styleSwitcherPanel li.last{
  margin-right:0;
}

.styleSwitcherToggle:hover, .styleSwitcherPanel a:hover{
 background-color: transparent;
}

.styleSwitcherPanel a:hover > img{
 border: 1px solid #000;
}

.styleSwitcherPanel img{
 border: 1px solid #fff;
  	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.styleSwitcherPanel img.selected{
 border: 1px solid #000;
}

.styleSwitcherLayout ul{
   margin-bottom: 8px;
}

.styleSwitcherLayout li{
 display: inline-block;
 margin-bottom: 0;
}

.styleSwitcherLayout p{
 display: inline;
  float: left;
  margin-top: 5px;
}

.styleSwitcherLayout a{
 display: inline;
  float: left;
}

.styleSwitcherPanel .lineSeparator{
  margin-bottom: 14px;
}

.styleSwitcherPanel .lineSeparator.last{
  margin-bottom: 20px;
}

.styleSwitcherToggle{
  width: 61px;
  height: 57px;
  display: block;
  position: absolute;
  left: 100%;
  top:0;
  background: url('images/toggle.png') no-repeat center center;

}

